<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="TIGER_Reader.MySql.Streets_SanDiegoConnectionString" value="UserId=volcansoft_user;Password=!pesT8b3+e*atha$7as;Host=mysql.volcansoft.com;Database=streets_sandiego"/>
  </appSettings>
  <connectionStrings>
    <add name="Streets_SanDiegoEntities" connectionString="metadata=res://*/TigerLineModel.csdl|res://*/TigerLineModel.ssdl|res://*/TigerLineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Streets_SanDiego;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="TIGER_Reader.Properties.Settings.Streets_SanDiegoConnectionString"
        connectionString="Data Source=.\spatial_2008;Initial Catalog=StreetsSD;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
